@model CurriculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta for="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>Cadastro</title>
</head>

<body>
    <header>
        <h1>Cadastrar Currículo</h1>
    </header>

    <main>
        <form asp-action="Salvar" method="post">
            <!--Dados Pessoais-->
            <div>
                <h2>Dados pessoais:</h2>
                <div>
                    <label>Nome</label>

                    <input type="text" asp-for="Nome" class="form-control" placeholder="Seu nome aqui" />
                    <br>
                    <label>CPF</label>
                    <input type="text" asp-for="Cpf" onkeydown="mask.init(this, mask.cpf)" placeholder="000.000.000-00" />
                    <br>
                    <label>Telefone</label>
                    <input type="tel" asp-for="Telefone" id="tel" onkeydown="mask.init(this, mask.tel)" placeholder="(00) 0000-0000" />
                    <br>
                    <label>E-mail</label>
                    <input type="email" asp-for="Email" placeholder="nome@dominio.com" />
                    <br>
                    <label>Cargo</label>
                    <input type="text" asp-for="Cargo" />

                </div>
            </div>

            <!--Endereço-->
            <div>
                <h2>Endereço</h2>
                <div>
                    <br>
                    <label>CEP</label>
                    <input type="text" asp-for="Cep" onkeydown="mask.init(this, mask.cep)" placeholder="00000-000" />
                    <br>
                    <label>Estado</label>
                    <input type="text" asp-for="Estado" readonly />
                    <br>
                    <label>Cidade</label>
                    <input type="text" asp-for="Cidade" readonly />
                    <br>
                    <label>Bairro</label>
                    <input type="text" asp-for="Bairro" readonly />
                    <br>
                    <label>Endereço</label>
                    <input type="text" asp-for="Rua" readonly />
                    <br />
                    <label>Número</label>
                    <input type="text" asp-for="Numero" />
                </div>
            </div>

            <!--Dados de Formação Academica e Cursos-->
            <div>
                <h2>Dados de formação acadêmica e cursos:</h2>
                <div id="Formacao1">
                    <div>
                        <label>Curso</label>
                        <input type="text" asp-for="Curso1" />
                        <br>
                        <label>Nível de escolaridade</label>
                        <div>
                            <input type="text" asp-for="Escolaridade1" />
                        </div>
                        <br>
                        <label>Instituição</label>
                        <input type="text" asp-for="Instituicao1" placeholder="Faculdade X" />
                        <br>

                        <label>Situação Atual:</label>
                        <input type="text" asp-for="Situacao1" />
                        <br>
                        <label>Mês/Ano de Conclusão</label>
                        <input type="month" asp-for="Conclusao1" />

                        <div>
                            <label>Período de aula</label>
                            <div>
                                <input type="text" asp-for="Periodo1" />
                            </div>
                        </div>
                    </div>
                </div> <!--Formação1-->

                <div id="Formacao2" style="display:none">
                    <div>
                        <label>Curso</label>
                        <input type="text" asp-for="Curso2" />
                        <br>
                        <label>Nível de escolaridade</label>
                        <div>
                            <input type="text" asp-for="Escolaridade2" />
                        </div>
                        <br>
                        <label>Instituição</label>
                        <input type="text" asp-for="Instituicao2" placeholder="Faculdade X" />
                        <br>

                        <label>Situação Atual:</label>
                        <input type="text" asp-for="Situacao2" />
                        <br>
                        <label>Mês/Ano de Conclusão</label>
                        <input type="month" asp-for="Conclusao2" />

                        <div>
                            <label>Período de aula</label>
                            <div>
                                <input type="text" asp-for="Periodo2" />
                            </div>
                        </div>
                    </div>
                </div><!--Formação2-->

                <div id="Formacao3" style="display: none">
                    <div>
                        <label>Curso</label>
                        <input type="text" asp-for="Curso3" />
                        <br>
                        <label>Nível de escolaridade</label>
                        <div>
                            <input type="text" asp-for="Escolaridade3" />
                        </div>
                        <br>
                        <label>Instituição</label>
                        <input type="text" asp-for="Instituicao3" placeholder="Faculdade X" />
                        <br>

                        <label>Situação Atual:</label>
                        <input type="text" asp-for="Situacao3" />
                        <br>
                        <label>Mês/Ano de Conclusão</label>
                        <input type="month" asp-for="Conclusao3" />

                        <div>
                            <label>Período de aula</label>
                            <div>
                                <input type="text" asp-for="Periodo3" />
                            </div>
                        </div>
                    </div>
                </div><!--Formação3-->

                <div id="Formacao4" style="display: none">
                    <div>
                        <label>Curso</label>
                        <input type="text" asp-for="Curso4" />
                        <br>
                        <label>Nível de escolaridade</label>
                        <div>
                            <input type="text" asp-for="Escolaridade4" />
                        </div>
                        <br>
                        <label>Instituição</label>
                        <input type="text" asp-for="Instituicao4" placeholder="Faculdade X" />
                        <br>

                        <label>Situação Atual:</label>
                        <input type="text" asp-for="Situacao4" />
                        <br>
                        <label>Mês/Ano de Conclusão</label>
                        <input type="month" asp-for="Conclusao4" />

                        <div>
                            <label>Período de aula</label>
                            <div>
                                <input type="text" asp-for="Periodo4" />
                            </div>
                        </div>
                    </div>
                </div><!--Formação4-->

                <div id="Formacao5" style="display: none">
                    <div>
                        <label>Curso</label>
                        <input type="text" asp-for="Curso5" />
                        <br>
                        <label>Nível de escolaridade</label>
                        <div>
                            <input type="text" asp-for="Escolaridade5" />
                        </div>
                        <br>
                        <label>Instituição</label>
                        <input type="text" asp-for="Instituicao5" placeholder="Faculdade X" />
                        <br>

                        <label>Situação Atual:</label>
                        <input type="text" asp-for="Situacao5" />
                        <br>
                        <label>Mês/Ano de Conclusão</label>
                        <input type="month" asp-for="Conclusao5" />

                        <div>
                            <label>Período de aula</label>
                            <div>
                                <input type="text" asp-for="Periodo5" />
                            </div>
                        </div>
                    </div>
                </div><!--Formação5-->

                <br />

                <button id="btnAdicionaCurso" onclick="showCurso()" class="bg-info">Adicionar</button>
                <button id="btnRemoveCurso" onclick="esconderCurso()" style="display: none" class="bg-danger">Remover</button>
            </div>

            <!--Dados de experiências profissionais anteriores-->
            <div>
                <h2>Dados de experiências profissionais anteriores:</h2>
                <br />

                <div id="Experiencias1">
                    <div>
                        <label>Empresa</label>
                        <input type="text" asp-for="Empresa1" />
                        <br>
                        <label>Início</label>
                        <input type="month" asp-for="Inicio1" />
                        <br>
                        <label>Término</label>
                        <input type="month" asp-for="Termino1" />
                        <br>
                        <div>
                            <label>Ocupaçoes na Empresa</label>
                            <div>
                                <input asp-for="Ocupacao1" />
                            </div>
                        </div>

                        <div>
                            <label>Atividades</label>
                            <div>
                                <textarea asp-for="Atividades1" placeholder="Descreva suas atividades"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Experiências2-->
                <div id="Experiencias2" style="display: none">
                    <div>
                        <label>Empresa</label>
                        <input type="text" asp-for="Empresa2" />
                        <br>
                        <label>Início</label>
                        <input type="month" asp-for="Inicio2" />
                        <br>
                        <label>Término</label>
                        <input type="month" asp-for="Termino2" />
                        <br>
                        <div>
                            <label>Ocupaçoes na Empresa</label>
                            <div>
                                <input asp-for="Ocupacao2" />
                            </div>
                        </div>

                        <div>
                            <label>Atividades</label>
                            <div>
                                <textarea asp-for="Atividades2" placeholder="Descreva suas atividades"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Experiências3-->
                <div id="Experiencias3" style="display: none">
                    <div>
                        <label>Empresa</label>
                        <input type="text" asp-for="Empresa3" />
                        <br>
                        <label>Início</label>
                        <input type="month" asp-for="Inicio3" />
                        <br>
                        <label>Término</label>
                        <input type="month" asp-for="Termino3" />
                        <br>
                    </div>
                    <br />

                    <button id="btnAdicionaExperiencia" onclick="showExperiencia()" class="bg-info">Adicionar</button>
                    <button id="btnRemoveExperiencias" onclick="esconderExperiencia()" style="display: none" class="bg-danger">Remover</button>
                    <label>Ocupaçoes na Empresa</label>
                    <div>
                        <input asp-for="Ocupacao3" />
                    </div>

                    <div>
                        <label>Atividades</label>
                        <div>
                            <textarea asp-for="Atividades3" placeholder="Descreva suas atividades"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <button id="btnAdicionaExperiencia" onclick="showExperiencia()" class="bg-info">Adicionar</button>
            <button id="btnRemoveExperiencias" onclick="esconderExperiencia()" style="display: none" class="bg-danger">Remover</button>

            <!--Dados de idioma-->
            <div>
                <h2>Dados de idiomas:</h2>

                <!--Dados de idiomas1-->
                <div id="dadosIdioma1">
                    <div>
                        <label>Idioma</label>
                        <div>
                            <input asp-for="Idioma1" />
                        </div>
                        <div>
                            <label>Conhecimento</label>
                            <div>
                                <input asp-for="Nivelidioma1" />
                            </div>
                        </div>
                    </div>
                </div>


                <!--Dados de idioma2-->
                <div id="dadosIdioma2" style="display:none">
                    <div>
                        <label>Idioma</label>
                        <div>
                            <input asp-for="Idioma2" />
                        </div>
                        <div>
                            <label>Conhecimento</label>
                            <div>
                                <input asp-for="Nivelidioma2" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dados de idioma3-->

                <div id="dadosIdioma3" style="display:none">
                    <div>
                        <label>Idioma</label>
                        <div>
                            <input asp-for="Idioma3" />
                        </div>
                        <div>
                            <label>Conhecimento</label>
                            <div>
                                <input asp-for="Nivelidioma3" />
                            </div>
                        </div>
                    </div>
                </div>


                <br />

                <button id="btnAdicionaIdioma" onclick="showIdioma()" class="bg-info">Adicionar</button>
                <button id="btnRemoveIdioma" onclick="esconderIdioma()" style="display: none" class="bg-danger">Remover</button>
            </div>

            <input type="submit" value="Salvar Curriculo">
        </form>
    </main>


    <!--Script de pesquisa e preenchimento do CEP-->
    <script type="text/javascript">
        $("#cep").focusout(function () {
            //Início do Comando AJAX
            $.ajax({
                //O campo URL diz o caminho de onde virá os dados
                //É importante concatenar o valor digitado no CEP
                url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
                //Aqui você deve preencher o tipo de dados que será lido,
                //no caso, estamos lendo JSON.
                dataType: 'json',
                //SUCESS é referente a função que será executada caso
                //ele consiga ler a fonte de dados com sucesso.
                //O parâmetro dentro da função se refere ao nome da variável
                //que você vai dar para ler esse objeto.
                success: function (resposta) {
                    //Agora basta definir os valores que você deseja preencher
                    //automaticamente nos campos acima.
                    $("#rua").val(resposta.logradouro);
                    //$("#numero").val(resposta.complemento);
                    $("#bairro").val(resposta.bairro);
                    $("#cidade").val(resposta.localidade);
                    $("#uf").val(resposta.uf);
                    //Vamos incluir para que o Número seja focado automaticamente
                    //melhorando a experiência do usuário
                    $("#numero").focus();
                }
            });
        });</script>

    <footer>
    </footer>
</body>
</html>