@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Sobre">Sobre</a></li>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Cadastro">Cadastrar</a></li>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Listagem">Listagem</a></li>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Impressao">Impressão</a></li>
            </ul>
        </nav>
    </header>
</body>
