@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/Index.css">

</head>

<body>
    <header>
        <nav>
            <h1 class="titulo">Gerador de Currículos </h1>
            <ul class="options">
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Cadastro">Novo Currículo</a></li>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Listagem">Meus Currículos</a></li>
                <li><a asp-area="" asp-controller="Curriculo" asp-action="Sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div class="div1">
        <figure>
            <figure id="click">

            </figure>
        </figure>
        <h2>Praticidade. </h2>
        <p>
            Para utilizar nosso montador de currículos basta adicionar suas
            informações pessoais e realizar apenas um clique e seu currículo estará pronto.
        </p>
    </div>

    <div class="div2">
        <figure>
            <figure id="curriculum">

            </figure>
        </figure>
        <h2>Organização. </h2>
        <p>
            Suas informações são organizadas da melhor maneira, facilitando
            a visualização do recrutador e destacando suas qualidades de forma visível.
        </p>
    </div>

    <div class="div3">
        <figure>
            <figure id="idea">

            </figure>
        </figure>
        <h2>Apresentação. </h2>
        <p>
            Um currículo visualmente atrativo chamará atenção e te oferecerá
            mais visibilidade durante um processo seletivo.
        </p>
    </div>

    <a class="Language" asp-area="" asp-controller="Curriculo" asp-action="IndexEN">EN</a>
</body>