@{
    ViewData["Title"] = "Home Page";
}
<body>
<header>
    <nav>
        <ul>
            <li><a asp-area="" asp-controller="Curriculo" asp-action="Sobre">Sobre</a></li>
            <li><a asp-area="" asp-controller="Curriculo" asp-action="Cadastro">Cadastrar Currículo</a></li>
        </ul>
    </nav>
</header>
</body>
