@model List<CurriculoViewModel>


<head>
    <meta charset="utf-8">
    <meta for="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Listagem</title>
    <link rel="stylesheet" href="~/css/Listagem.css">

</head>


<div>
    <h1 class="titulo">My Resumes</h1>

    <div class="tableListagem">
        <table class="table table-responsive table-striped">
            <tr>

                <th>CPF </th>
                <th>Name </th>
                <th>CEP </th>
                <th>Address </th>
                <th>Actions </th>
            </tr>

            @foreach (CurriculoViewModel cv in Model)
            {
                <tr>
                    <td>@cv.Cpf</td>
                    <td>@cv.Nome</td>
                    <td>@cv.Cep</td>
                    <td>@cv.Rua</td>
                    <td>
                        <a href="/curriculo/EditEN?cpf=@cv.Cpf"><img src="~/img/alterar.png" width="30" height="30" /></a>
                        <a href="/curriculo/DeleteEN?cpf=@cv.Cpf"><img src="~/img/trash.png" width="30" height="30" /></a>
                        <a href="/curriculo/Impressao?cpf=@cv.Cpf"><img src="~/img/printer.png" width="30" height="30" /></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>