@{
    ViewData["Title"] = "Sobre";
}

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <main>
        <h2>Desenvolvedores</h2>

        <img src="/img/gustavo.jpg" width="70" height="70">
        <p>Gustavo Pepinelli Salgado</p>
        <p>RA: 081190006</p>
        <br />
        <br />
        <img src="/img/marcio.png" width="70" height="70">
        <p>Márcio Rios Kunimura</p>
        <p>RA: 081200041</p>
        <br />
        <br />
        <img src="/img/rodrigo.png" alt="foto do rod" width="70" height="70">
        <p>Rodrigo Kawaura Montemor </p>
        <p>RA: 081190012</p>
        <br />
        <br />
    </main>
</body>
