@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p><h1>Desenvolvedores</h1></p>
<br />
<body>
<img src="/img/gustavo.jpg" width="70" height="70">
<h3>Gustavo Pepinelli Salgado</h3> 
<h5>RA: 081190006</h5>
<br />
<br />
<img src="/img/marcio.png" width="70" height="70">
<h3>Márcio Rios Kunimura</h3> 
<h5>RA: 081200041</h5>
<br />
<br />
<img src="/img/rodrigo.png" alt="foto do rod" width="70" height="70">
<h3>Rodrigo Kawaura Montemor </h3> 
<h5>RA: 081190012</h5>
<br />
<br />
    </body>
