:root {
    --colorBG: #ffffff;
    --color1: #ffffff;
    --colorText: #000000;
}

.titulo {
    margin: auto;
    width: 50%;
    padding: 30px;
    color: var(--colorText);
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background-color: var(--color1);
    font-weight: 350;
}


.DadosPessoais {
    font-size: 20px;
    padding: 20px 25px;
    margin: 25px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    width: 1000px;
    height: 400px;
}

.Endereco {
    font-size: 20px;
    padding: 20px 25px;
    margin: 25px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    width: 1000px;
    height: 400px;
}

.Formacao {
    font-size: 20px;
    padding: 20px 25px;
    margin: 25px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    float: left;
    width: 1000px;
    padding-bottom:100px;
}

.ExperienciasAnteriores {
    font-size: 20px;
    padding: 20px 25px;
    margin: 25px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    width: 1000px;
}

.Idioma {

    font-size: 20px;
    padding: 20px 25px;
    margin: 25px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    width: 1000px;
    padding-top:400px;
}


input {
    width:400px;
    padding: 6px;
    font-size: 16px;
    margin:8px;
    border-width: 2px;
    border-color: #858585;
    background-color: var(--colorBG);
    color: var(--colorText);
    border-style: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(66,66,66,.86);
}

label {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

#btnRemoveCurso {
    margin-right: 0px;
    margin-left: 0px;
    width: 50px;
    float: right;
}

#btnAdicionaCurso {
    margin-right: 0px;
    width: 50px;
    float: right;
}
#btnRemoveIdioma {
    margin-right: 0px;
    margin-left: 0px;
    width: 50px;
    float:right;
}

#btnAdicionaIdioma {
    margin-right: 0px;
    width: 50px;
    float:right;
}
#btnRemoveExperiencias {
    margin-right: 0px;
    margin-left: 0px;
    width: 50px;
    float: right;
}

#btnAdicionaExperiencia {
    margin-right: 0px;
    width: 50px;
    float: right;
}

.divRight{
    float:right;
}


.divLeft {
    float: left;
}

.txtNome{
    width:935px;
}

.txtAtividades {
    width: 935px;
    height: 100px;
    padding: 6px;
    font-size: 16px;
    margin-right: 8px;
    margin-left: 8px;
    border-width: 2px;
    border-color: #858585;
    background-color: var(--colorBG);
    color: var(--colorText);
    border-style: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 2px rgba(66,66,66,.86);
    text-shadow: 0px 0px 0px rgba(66,66,66,.100);
}

#Formacao2, #Formacao3, #Formacao4, #Formacao5 {
    font-size: 20px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    font-weight: 500;
    float: left;
    border-top: 2px solid black;
    border-color: var(--colorBG);
    margin-top: 30px;
}

#Experiencias2, #Experiencias3 {
    margin-top: 30px;
    padding-top: 30px;
    font-size: 20px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    font-weight: 500;
    float: left;
    border-top: 2px solid black;
    border-color: var(--colorBG);
    margin-top: 30px;
    padding-bottom:50px;
}

#dadosIdioma2 {
    margin-top: 30px;
    padding-top: 30px;
    font-size: 20px;
    background-color: var(--color1);
    list-style: none;
    text-align: left;
    font-weight: 500;
    float: left;
    border-top: 2px solid black;
    border-color: var(--colorBG);
    margin-top: 30px;
    padding-bottom: 50px;
}

.btnSalvarCurriculo{
    float:right;
    margin: 100px;
}