.titulo {
    margin: auto;
    width: 54%;
    padding: 30px;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
}

h2{
    font-weight:300;
}

.options {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
    list-style: none;
    font-weight:300;
}

    .options li {
        display: inline;
    }

        .options li a {
            padding: 30px 81px;
            display: inline-block;
            background-color: #EDEDED;
            color: #333;
            text-decoration: none;
            border-bottom: 5px solid #EDEDED;
        }


            .options li a:hover {
                background-color: #D6D6D6;
                color: #6D6D6D;
                border-bottom: 5px solid #A9A9A9;
            }


.div1 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    background-color: #EDEDED;
    list-style: none;
    text-align: left;
    font-weight: 400;
}

.div2 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    background-color: #EDEDED;
    list-style: none;
    text-align: left;
    font-weight: 400;
}

#curriculum{
    float:left;
    padding: 10px;
}

#click {
    float: left;
    padding: 10px;
}

#idea {
    float: left;
    padding: 10px;
    padding-right: 20px;
}

.div3 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    background-color: #EDEDED;
    list-style: none;
    text-align: left;
    font-weight: 400;
}
