:root {
    --colorBG: #ffffff;
    --color1: #333;
    --colorText: #000000;
}

body{
    background-color:var(--colorBG);
}

.titulo {
    margin: auto;
    width: 54%;
    padding: 30px;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    color: var(--colorText);
}


h2 {
    font-weight: 300;
    color: var(--colorText);
}

.options {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    background-color: var(--colorBG);
    list-style: none;
    font-weight: 300;
}

    .options li {
        display: inline;
    }

        .options li a {
            padding: 30px 81px;
            display: inline-block;
            background-color: var(--colorBG);
            color: #333;
            text-decoration: none;
            border-bottom: 2px solid var(--colorBG);
            color: var(--colorText);
        }


            .options li a:hover {
                background-color: var(--color1);
                color: var(--colorText);
                border-bottom: 5px solid var(--colorBG);
            }


.div1 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    list-style: none;
    text-align: left;
    font-weight: 400;
    color: var(--colorText);
    border: 1px solid var(--colorText);
}

.div2 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    border: 1px solid var(--colorText);
    list-style: none;
    text-align: left;
    font-weight: 400;
    color: var(--colorText);
}

#curriculum{
    float:left;
    padding: 10px;
}

#click {
    float: left;
    padding: 10px;
}

#idea {
    float: left;
    padding: 10px;
    padding-right: 20px;
}

.div3 {
    font-size: 20px;
    padding: 20px 25px;
    margin: 50px;
    border: 1px solid var(--colorText);
    list-style: none;
    text-align: left;
    font-weight: 400;
    color: var(--colorText);
}
