@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvedores</p>
<br />
<h3>Gustavo Pepinelli Salgado  </h3>
<br />
<h3>Márcio Rios Kunimura </h3>
<br />
<h3>Rodrigo Kawaura Montemor</h3>
<br />
